---


---


<nav class="nav-desktop fixed w-full flex items-center bg-transparent shadow-md py-2  justify-between md:px-36 z-20">
    <div class="flex items-center">
    <img src="/logo.png" class="w-12 h-12 hover:scale-105 cursor-pointer shadow shadow-zinc-800 opacity-90">
    {/*<span class="text-primary text-4xl font-bold">ubera</span><span class="text-4xl">Labs</span>*/}
    </div>
    <ul class="flex space-x-6 px-6 py-4">
        <li class="text-lg text-zinc-900 cursor-pointer hover:text-[#31b5d8]">Inicio</li>
        <li class="text-lg text-zinc-900 cursor-pointer hover:text-[#31b5d8]">Servicios</li>
        <li class="text-lg text-zinc-900 cursor-pointer hover:text-[#31b5d8]">Contacto</li>
    </ul>

    <button class="bg-primary hover:bg-opacity-60 hover:px-8 hover:scale-105 duration-1000 px-6 py-3 font-bold hover:bg-primar  rounded-lg shadow-xs shadow-zinc-600 ff-1">Contact us </button>
</nav>
<div class="">
<img src="/navbar-background.jpg" class="w-screen h-[27rem] opacity-85 relative z-10">

</div>
