---
import { useState } from 'react';
const menuItems = ['Inicio', 'Servicios', 'Contacto'];
---

<div class="relative">
  <img src="/navbar-background.jpg" class="w-screen h-[27rem] opacity-30 absolute top-0 left-0 z-10" />

  <nav class="nav-desktop fixed w-full flex items-center bg-transparent shadow-md py-2 justify-between md:px-36 z-20">
    <div class="flex items-center">
      <img src="/logo.png" alt="Logo" width="48" height="48" class="w-12 h-12 hover:scale-105 transition-transform duration-300 cursor-pointer shadow-sm shadow-zinc-800 rounded-lg" />
    </div>

    <ul class="flex space-x-6 px-6 py-4">
      {menuItems.map(item => (
        <li key={item} class="text-lg text-zinc-900 cursor-pointer hover:text-[#31b5d8]">
          <a href={`/${item.toLowerCase()}`} class="hover:bg-gray-100 px-3 py-2 rounded-md text-lg font-medium transition-colors duration-300">
            {item}
          </a>
        </li>
      ))}
    </ul>

    <button class="bg-primary hover:bg-opacity-60 hover:px-8 hover:scale-105 duration-1000 px-6 py-3 font-bold rounded-lg shadow-xs shadow-zinc-600">
      Contact us
    </button>
  </nav>
</div>
